
/* --- Reset general y definición de atributos globales --- */ 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&family=Roboto+Condensed&display=swap');

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* Sale de 10/16=0.625, para que 1 rem sea 10px */ 
}

body {
	font-family: Roboto, sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #3f4238;
}


/* --- Header - FLEXBOX --- */

header {
	display:  flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 5rem;
}

.logo {
	max-width: 100px; /* Porque la imagen es grande */
}
	/* PREGUNTA:  
	¿Porque si yo a la img del header le doy un id="logo" y luego en el css escribo 
	#logo { 
	max-width: 100px;  
	}; no funciona?
	*/

.menu__list {
	display: flex; 
	/* Para que los items se pongan uno al lado del otro ya que por defecto son row */
	gap:  10px;
}

.menu__list__item {
	font-size: 1.7rem;
	padding: 0 2rem;s
}

header a:hover{
	cursor: pointer;
	border-bottom: 2px solid #3f4238;
	padding-bottom: 15px;
	/* PREGUNTA: ¿Cómo hago para que el subrayado no aparezca inmediatamente abajo del li, sino en la linea bottom del header? 
	   RESPUESTA: El hover se lo tengo que dar al link (a) y no al item (li).;
	   			  Además, con el padding-bottom, espacie el subrayado cómo para que aparezca en línea con la línea
	   			  bottom del header */
}

/* --- Cuerpo de la página - GRID (definiciones generales) --- */

.container__grid, .main__index {
	max-width: 1200px; /* Break point típico para pantallas panorámicas, principalmente portátiles y de escritorio */
	margin: 0 auto;
	display:  grid;
}

/* --- Cuerpo de la página - GRID (INDEX) --- */

.main__index {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr; 
	justify-items: center;
	align-items: center;
	margin-top: 8em;
}


.main__index__text__first {
	font-size: 7.5em;
}

.main__index__text__second {
	font-size: 5em;
}

span {
	font-weight: 800;
}

.main__index__text__second span {
	font-style: italic;
}


/*.main__img {
	grid-column: 1/7;
	grid-row: 1/4;
}
*/

/* --- Cuerpo de la página - GRID (WORK) --- */


.container__grid {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 25px;
}

img {
	width: 100%; /* La propiedad va en la imagen, no en el contenedor, no sé por qué */
	border-radius:  5px;
}

.box:nth-child(1) {
	grid-column: 1/4;
}

.box:nth-child(2) {
	grid-column: 4/7;
}

.box:nth-child(3) {
	grid-column: 7/10;
}

.box:nth-child(4) {
	grid-column: 10/13;
}

.box:nth-child(5) {
	grid-column: 1/4;
	grid-row: 2;
}

.box:nth-child(6) {
	grid-column: 4/7;
	grid-row: 2;
}

.box:nth-child(7) {
	grid-column: 7/10;
	grid-row: 2;
}

.box:nth-child(8) {
	grid-column: 10/13;
	grid-row: 2;
}

/* Estética de cada grid */

.box {
	border: 2px solid black;
	border-radius: 10px;
	max-height: 300px;
	overflow: hidden;
/* ACLARACIÓN:  Lo que quiero lograr con el max-height y overflow, es que las celdas del grid tengan una altura máxima
y que si la descripción que coloco abajo es larga, haya un botón de "ver más" abajo a la derecha de cada contenedor.
	CONSULTA:  ¿Está bien lo que hice o hay que darle la propiedad de tamaño en el elemento padre,
cuando se definen las columns y las rows? */
}

h3 {
	text-align: center;
	font-size: 1.5rem;
	padding:  10px 0;
}

p {
	margin: 0 5px;
}

	.main__index__text__swipe {
		display: none;
	}


/* --- Medias Querys --- */

@media screen and (max-width: 1000px) {
	
	.main__index {
		margin: 4em auto;
	}

	.main__index__text__first, .main__index__text__second {
		line-height: 1.2em;
	}
}

@media screen and (max-width: 700px) {
	
	.main__index__text {
		grid-template-rows: 1fr 1fr;
		grid-column: 1/3;
	}

	.main__index__text__first, .main__index__text__second {
		display: none;
	}

	.main__img, .main__index__text__swipe {
		grid-column:  1/3;
	}

	.main__index__text__swipe {
		display: block;
		font-size: 3em;
		font-style: italic;
		margin-top: 1em;
	}
}

@media screen and (max-width: 768px) { /* Tabletas de 10 pulgadas */
	.header {
		flex-direction:  column;
		margin:  0 5rem 2rem 5rem;
	}

	.logo {
		margin: 0.5rem 0 1.5rem 0;
	}

	.container__grid {
		grid-template-rows: repeat(5, 1fr);
	}

	.box:nth-child(1) {
		grid-column: 1/7;
	}

	.box:nth-child(2) {
		grid-column: 7/13;
	}

	.box:nth-child(3) {
		grid-column: 1/7;
		grid-row: 2;
	}

	.box:nth-child(4) {
		grid-column: 7/13;
		grid-row: 2;
	}

	.box:nth-child(5) {
		grid-column: 1/7;
		grid-row: 3;
	}

	.box:nth-child(6) {
		grid-column: 7/13;
		grid-row: 3;
	}

	.box:nth-child(7) {
		grid-column: 1/7;
		grid-row: 4;
	}

	.box:nth-child(8) {
		grid-column: 7/13;
		grid-row: 4;
	}
}

@media screen and (max-width: 480px) { /* Celulares en modo horizontal */
	.header {
		flex-direction:  column;
		margin:  0;
	}

	.menu {
		display:  none;
	}

	p {
		display:  none;
	}

	.container__grid {
		grid-template-rows: repeat(9, 1fr);
	}

	.box:nth-child(1) {
		grid-column: 1/13;
		grid-row: 1;
	}

	.box:nth-child(2) {
		grid-column: 1/13;		
		grid-row: 2;
	}

	.box:nth-child(3) {
		grid-column: 1/13;
		grid-row: 3;
	}

	.box:nth-child(4) {
		grid-column: 1/13;
		grid-row: 4;
	}

	.box:nth-child(5) {
		grid-column: 1/13;
		grid-row: 5;
	}

	.box:nth-child(6) {
		grid-column: 1/13;
		grid-row: 6;
	}

	.box:nth-child(7) {
		grid-column: 1/13;
		grid-row: 7;
	}

	.box:nth-child(8) {
		grid-column: 1/13;
		grid-row: 8;
	}
}

/* Animaciones y Transformaciones */

.main__img {
	animation-name: appearIn;
	animation-duration: 1s;
}

.main__index__text__first, .main__index__text__second  {
	animation-name: slideIn;
	animation-duration: 1s;
}


@keyframes appearIn {
	0% {
		transform: scale(.09);
	}
	10% {
		transform: scale(.18);
	}
	20% {
		transform: scale(.27);
	}
	30% {
		transform: scale(.36);
	}
	40% {
		transform: scale(.45);
	}
	50% {
		transform: scale(.54);
	}
	60% {
		transform: scale(.63);
	}
	70% {
		transform: scale(.72);
	}
	80% {
		transform: scale(.81);
	}

	90% {
		transform: scale(.90);
	}

	100% {
		transform: scale(1);
	}
}

	@keyframes slideIn {

	0% {
		transform: translateX(100%);
	}

	10% {
		transform: translateX(90%);
	}

	20% {
		transform: translateX(80%);
	}

	30% {
		transform: translateX(70%);
	}

	40% {
		transform: translateX(60%);
	}

	50% {
		transform: translateX(50%);
	}

	60% {
		transform: translateX(40%);
	}

	70% {
		transform: translateX(30%);
	}

	80% {
		transform: translateX(20%);
	}

	90% {
		transform: translateX(10%);
	}

	100% {
		transform: translateX(0%);
	}
}

.box:hover {
	animation-name: rotation; 
	animation-duration: 3s;
}

@keyframes rotation {
	
	0% {
	transform: rotateZ(0deg);
}

	100%  {
	transform: rotateZ(5deg);
}